root {
    font-family: system-ui, sans-serif;
    font-size: clamp(14px, 5vw, 20px);
    --dark-color: #5c6378ff;
    --light-color: #edf2f4ff;
    --background-color: #2b2d42ff;
    --secondary-color: #757e93ff;
    --antiflash-white: #edf2f4ff;
    --important-color: #ef233cff;
    --fire-engine-red: #d90429ff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--light-color);
    margin: 0;
  }
  
  article {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  article figure {
    margin: 0;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  main {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    padding-block-start: 2rem;
  }
@media screen and (aspect-ratio < 1) {

    .bento.layout-1 {
        --bento-cols: 3;
        --bento-rows: 5;
    }
  
    .bento.layout-1> :nth-child(n) {
        /* Reset spans */
        grid-column: auto;
        grid-row: auto;
    }
  
    .bento.layout-1> :nth-child(1),
    .bento.layout-1> :nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;
    }
  
    .bento.layout-1> :nth-child(5) {
        grid-column: span 2;
    }
  
    .bento.layout-1> :nth-child(7) {
        grid-column: 1;
        grid-row: 5;
    }
    
  }